[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DNAmf"]
	path = DNAmf
	url = https://github.com/cran/DNAmf
[submodule "RNAmf"]
	path = RNAmf
	url = https://github.com/heojunoh/rnamf
[submodule "dynemu"]
	path = dynemu
	url = https://github.com/cran/dynemu
